*{
    margin: 0;
    padding: 0;
}
/***Menu de navegación***/
body{
    background:#f9f9f9;
    
}
.cabecera{
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu__lista{
    display: flex;
}

.menu__item{
    list-style: none;
}

.menu__link{
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
}

.menu__link:hover{
    text-decoration: underline;
}

.menu__link--activo{
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    color: #333333;

}
/***Banner***/

.banner{
    width: 100%;
}

/***quienes somos***/

.contenedor-quienes{
    background: #c7c8ca;
    text-align: center;
    padding: 1rem 1rem;   
}

.titulo-quienes{
    padding: 10px;
}

#pstyle{
    font-style: italic;
}

em{
    color: beige;
}


/***El porqué deberían elegirnos***/

.titulo-centralizado{
    text-align: center;
    padding: 10px;
    font-size: 20px;
  }

 .contenedor-porque{
  padding: 50px;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
 }

 .items{
    font-style: italic;
  }

 .video{
  width: 50%;
 }